fastapi==0.110.0
uvicorn[standard]
sqlalchemy==2.0.27
mysql-connector-python==8.3.0
pydantic[email]
python-multipart==0.0.9
python-jose[cryptography]
passlib[bcrypt]
python-dotenv==1.0.1
redis==5.0.2
pytest==8.1.0
python-json-logger==2.0.7
black==24.2.0
prometheus-fastapi-instrumentator==6.1.0
apitally[fastapi]
colorlog==6.8.2
pymongo==4.6.2
sentry-sdk[fastapi]